<page
  title="My First Syntax Page"
/>

<div class="fora !{true ? 'class-true' : 'class-false' }">
  !{true ? 'valor-true' : 'valor-false' }

  Outro texto qualquer

  !{false ? 'valor-true' : 'valor-false' }

  <div class="dentro !{false ? 'class-true' : 'class-false' }">
    !{true ? 'valor-true' : 'valor-false' }

    Outro texto qualquer

    !{false ? 'valor-true' : 'valor-false' }
  </div>


  <form onsubmit="handleSubmit()">
    <label for="listItem">List Item: </label>
    <input id="listItem" value="${inputValue}" onchange="onChangeValue(e)"/>
    <input value="${inputValue2}"/>

    <p>inputValue = ${inputValue}</p>
    <p>inputValue2 = ${inputValue2}</p>
  </form>

  <p>Todo List:</p>
  <ul>
    <li each="item in todoList">{item}</li>
  </ul>

  <script>
    let inputValue = ''
    let inputValue2 = ''
    let todoList = [];

    const onChangeValue = (e) => {
      inputValue = e.target.value
      console.log("Valor alterado", inputValue, inputValue2, e)
    }

    const handleSubmit = (e) => {
      e.preventDefault()
      todoList = [...todoList, inputValue]
      inputValue = ''
    }
  </script>
</div>
